.navbar {
    background: black;
    color: white;
    font-size: 20px;
}

.navbar-container {
    display: flex;
    padding: 20px;
}

.nav-menu {
    display: flex;
    margin-left: auto;
}

.nav-item {
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-item a {
    text-decoration: none;
    color: white;
}

#navbar-login {
    border: none;
    border-radius: 2px;
    color: green;

}

#navbar-login:hover {
    background-color: green;
}

#navbar-signup {
    border: none;
    border-radius: 2px;
}

#navbar-signup:hover {
    background-color: lightblue;
    border: none;
}